@import "tailwindcss";

/* Define default font and colors */
:root {
  --background: #f5f5f5;
  --foreground: #1e272e; /* this is for text color*/
  --font-outfit: "Outfit", sans-serif; /* Outfit as default */

  /*------------- Custom colors making for default or light theme -------------*/

  --color-edugreen: #22c55e; /* Tailwind green-500 */
  --color-edured: #ef4444; /* Tailwind red-500 */
  --color-edublack: #1e272e;
  --color-edugray: #4a5568; /* Tailwind gray-700 */
  --color-eduwhite: #ffffff;
  --color-eduborder: #d1d5db; /* Tailwind gray-300 */
  --color-edublue: #1ec8c8; /* Tailwind blue-600 */
}
/* Theme variables for Tailwind */
@theme inline {
  --font-roboto: var(--font-roboto);
  --color-eduGreen: var(--color-edugreen);
  --color-eduRed: var(--color-edured);
  --color-eduBlack: var(--color-edublack);
  --color-eduWhite: var(--color-eduwhite);
  --color-eduGray: var(--color-edugray);
  --color-eduBorder: var(--color-eduborder);
  --color-eduBlue: var(--color-edublue);
}

/* Respect system preference if no theme is set */

@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --background: #0f172a; /* Tailwind gray-900 */
    --foreground: #f5f5f5;

    /*------------- Custom colors making for dark theme -------------*/

    --color-edugreen: #22c55e; /* Tailwind green-500 */
    --color-edured: #ef4444; /* Tailwind red-500 */
    --color-edublack: #ededed;
    --color-eduwhite: #1e272e;
    --color-edugray: #d1d5db; /* Tailwind gray-300 */
    --color-eduborder: #edf2f7; /* Tailwind gray-200 */
  }
}

/* Smooth theme transition */
/* Add to your global CSS */
@layer utilities {
  .transition-smooth {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

/* Apply variables to body */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit);
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-eduBlack font-semibold;
  }

  p {
    @apply text-eduGray leading-relaxed;
  }
}
