@import "tailwindcss";

/* Define default font and colors */
:root {
  --background: #ffffff;
  --foreground: #0e0e0e; /* this is for text color*/
  --font-outfit: "Outfit", sans-serif; /* Outfit as default */

  /* Custom colors */
  --color-mygreen: #22c55e; /* Tailwind green-500 */
  --color-myred: #ef4444; /* Tailwind red-500 */
  --color-myyellow: #facc15; /* Tailwind yellow-400 */
}
/* Theme variables for Tailwind */
@theme inline {
  --font-roboto: var(--font-roboto);
  --color-myGreen: var(--color-mygreen);
  --color-myRed: var(--color-myred);
}

/* Respect system preference if no theme is set */
@media (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --background: #0e0e0e;
    --foreground: #ededed;

    /* Custom colors */
    --color-mygreen: #22c55e; /* Tailwind green-500 */
    --color-myred: #ef4444; /* Tailwind red-500 */
  }
}

/* Apply variables to body */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit);
}
